.crypto-select-item svg {
    width: 25px;
    height: 25px;
}
.crypto-select-item {
    width: 50px;
}
.crypto-select-item .select-list {
    width: 50px;
    padding: 0;
}
.crypto-select-item .select-item {
    padding: 5px 0px;
}
.crypto-select-item .select-list svg {
    width: 20px;
    height: 20px;
}