.item-selector-wrapper {
    position: relative;
    padding: 5px;
    width: 150px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0);
    transition:
        background-color ease-in-out 0.2s,
        transform ease-in-out 0.2s;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.item-selector-wrapper label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
}
.item-selector-wrapper:hover {
    background-color: rgba(241, 248, 248, 0.733);
    transform: scale(1.02);
}
ul.select-list {
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 150px;
    bottom: 100%;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.295) 0px -2px 2px;
}
li.select-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 6px 20px;
    cursor: pointer;
    background-color: rgba(221, 230, 230, 0.37);
    transition:
        color ease-in-out 0.2s,
        background-color ease-in-out 0.2s;
}
li.select-item:hover {
    background-color: rgba(206, 243, 243, 0.733);
}

@media (width < 650px) {
    .item-selector-wrapper {
        width: 50px;
    }
    ul.select-list {
        width: 100px;
        left: 0;
        border-radius: 15px;
        border-bottom-left-radius: 0px;
    }
    li.select-item {
        padding: 0 5px;
        background-color: rgba(213, 219, 219, 0.733);
    }
}
